/AVE_Dataset/
/S/runs/
/S/val/
/S/test/
/my_tensorbord_test/
/S/test_result/
/S/val_re/
/S/log/
/tmp/
/SA/vggsound_netvlad.pth.tar
/SA/log/
/SA/runs/
/SA/val/
/SA/val_re/
/SA/test_result/
/ST/log/
/ST/runs/
/ST/val/
/ST/val_re/
/Result/
